    
    main {
    padding: 20px 0;
  }
  
  section {
    margin-bottom: 100px;
  }
  
  main h1 {
    margin: 0 10px; 
    border-bottom: 1px solid gray;
  }
  
  main h2 {
    margin: 12px 10px;
    border-bottom: 1px solid lightgray;
  }
  
  main img {
    width: 100%;
  }
  
  /* Contact Form - Image */
  
  .contact-image {
    border: 1px solid #ababab;
    border-radius: 8px;
  }
  
  /* Groups & Items  (Mobile First) */
  
  .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 2;
    margin: 10px;
  }
  
  /* ---  (Desktop) Groups & Items --- */
  
  @media all and (min-width: 800px) {
    section {
      padding: 0 10%;
    }
    .group {
      flex-direction: row;
    }
  }
  
  /* ---  Contact Form Design --- */
  
  form {
    padding-right: 6px;
    /* Fixed small sizing issue on the right */
  }
  
  form input, 
  form textarea {
    width: 100%;
    margin-bottom: 20px;
  }
  
  form textarea {
    height: 160px;
  }
  
  
  
  